In [4]:
my_list1=[]
my_list2=list()
print(len(my_list1),len(my_list2),sep='|')

0|0

In [7]:
#append
my_list1.append(123)
my_list2.append('abc')
print(len(my_list1),len(my_list2),sep='|')

3|2

In [8]:
my_list3=[123,"abc",2.0,[7.7,True],None]

In [9]:
print(len(my_list3))

5

In [10]:
print(my_list3)

[123, 'abc', 2.0, [7.7, True], None]

In [13]:
print(my_list1)

[123, 123, 123]

In [17]:
print(my_list1[-2])

123

In [18]:
my_list1[100]

IndexError: list index out of range

In [23]:
#slicing
computer=['OOP','MGMT','NM','CA','CS']
computer[1:2]

['MGMT']

In [21]:
computer[:]

['OOP', 'MGMT', 'NM', 'CA', 'CS']

In [22]:
computer[:2]

['OOP', 'MGMT']

In [24]:
computer[2:]

['NM', 'CA', 'CS']

In [25]:
a='Hello'
a[0:3]

'Hel'

In [26]:
a=list(range(10))

In [27]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
b=range(10)

In [29]:
b

range(0, 10)

In [30]:
print(a[2:]) #furst ko 2 ta lai choddincha

[2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
print(a[-2])

8

In [32]:
print(a[1::3])

[1, 4, 7]

In [33]:
print(a[2:6:2]) # 2 bata suru garera 6 samma pugne with  2 steps

[2, 4]

In [34]:
print(a[::-1]) #list reverse bhayo

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [35]:
##List methods

#everything in python is an object and list is also definately an object. Hence,in OOP concept, object are likely to have methods(behavior)

a=[]
type(a)

list

In [36]:
computer.index("NM")

2

In [40]:
computer.append("Python")

computer

In [59]:
print(computer)

['Math', 'OOP', 'MGMT', 'NM', 'CA', 'CS', 'Python', 'Enlgish', ['football', 'baseball'], 'football', 'baseball']

In [42]:
#insert() method is used to insert an element in particular index of list.
computer.insert(0,"Math") #insert(position, object)

In [46]:
computer.insert(19,'DS')

In [48]:
computer.index('DS')

8

In [50]:
extra=["football","baseball"]
computer.append(extra) """list bhitra arko list add garcha"""

In [53]:
#If you want to merge to list together, you can use extend method

computer.extend(extra)

In [58]:
computer.remove("DS") """deletes the specified element"""

In [61]:
extra2=[3,4,5]
new=computer+extra2

In [62]:
new

['Math',
 'OOP',
 'MGMT',
 'NM',
 'CA',
 'CS',
 'Python',
 'Enlgish',
 ['football', 'baseball'],
 'football',
 'baseball',
 3,
 4,
 5]

In [66]:
new.remove(['football','baseball'])
computer.index("NM")

ValueError: list.remove(x): x not in list

In [65]:
new

['Math',
 'OOP',
 'MGMT',
 'NM',
 'CA',
 'CS',
 'Python',
 'Enlgish',
 'football',
 'baseball',
 3,
 4,
 5]

In [69]:
## LIST as a stack

In [70]:
"""List data structure can be used to stimulate the stack data structure. For this, to extract the topmost element
in the list, ypu can use pop() method. pop() method always returns the last value in list like in stack.
Note: pop() method manipulates the list"""

'List data structure can be used to stimulate the stack data structure. For this, to extract the topmost element\nin the list, ypu can use pop() method. pop() method always returns the last value in list like in stack.\nNote: pop() method manipulates the list'

In [73]:
a= computer.pop(1)

In [77]:
computer.append(a)

In [78]:
computer

['Math',
 'NM',
 'CA',
 'CS',
 'Python',
 'Enlgish',
 ['football', 'baseball'],
 'football',
 'baseball',
 'MGMT',
 'MGMT']