Other important methods

In [2]:
x=[5,6,7,8,9]
x.sort(reverse=True)

In [3]:
x

[9, 8, 7, 6, 5]

In [4]:
print(x)

[9, 8, 7, 6, 5]

In [6]:
y=['a','m','z','d']
y.sort(reverse=True) #esma variable assign garna mildaina coz jaile y mai rakdincha

In [7]:
y

['z', 'm', 'd', 'a']

In [9]:
z=[1,'a',6,9,'m','b']
 #z.sort() gives error because data type not same

In [12]:
x=[5,6,7,8,9]
sorted_x=sorted(x,reverse=True)#chutai variable ma save garna sorted use garincha

In [13]:
print(sorted_x)

[9, 8, 7, 6, 5]

In [15]:
max(x)
min(x)

5

In [16]:
sum(x)

35

In [19]:
max('Hello World') #ASCII ko order le precedence

'w'

In [21]:
min('HelloWorld')

'H'

In [22]:
print(10 in x) #similar as searching but using in

False

# Looping over a list

In [24]:
for numbers in x:
    print(numbers)
    print(numbers,end='\t')

5
5	6
6	7
7	8
8	9
9

In [25]:
for index, numbers in enumerate(x): #integer ma loop launa mildaina so enumerate. It helps in applying loop in automatic counter i.e list have automatic counter
    print(index,numbers)

0 5
1 6
2 7
3 8
4 9

In [26]:
for index, numbers in enumerate(x,start=100):
    print(index,numbers)

100 5
101 6
102 7
103 8
104 9

In [29]:
computer= ["OOP", "CSA", "NM", "MGMT", "OS"]

In [31]:
#you can only join list of strings
print("+".join(computer))
j_computer="+".join(computer)

OOP+CSA+NM+MGMT+OS

In [32]:
j_computer

'OOP+CSA+NM+MGMT+OS'

In [34]:
j_computer.split('+')
a='this is wonderful'
a.split(' ')

['this', 'is', 'wonderful']

# List are mutable

In [35]:
#mutable means changeable

computer[0]='English'

In [36]:
computer

['English', 'CSA', 'NM', 'MGMT', 'OS']

In [40]:
list1=[1,'a',True]
list2=list1
list1 is list2 #compare if list 2 is list 1
list2[0]=2
list1 #list also changes because 'is 'focuses on the object that is both list focusing in same objec
#is called shallow copy
# another called deep copy

[2, 'a', True]

Multidimension List

In [41]:
n_list=[
    [1,2,3],
    [4,5,6]
]
print(n_list)

[[1, 2, 3], [4, 5, 6]]

HOW MANY?

In [46]:
x=[1,2,4,1,1,1,7,1,5,9,9,7]
x.count(3) #count number of objects inside list

0

In [49]:
a='a'*5
x*2 #repeats the number of elements inside the list

[1, 2, 4, 1, 1, 1, 7, 1, 5, 9, 9, 7, 1, 2, 4, 1, 1, 1, 7, 1, 5, 9, 9, 7]

# Tuple
 tuple is very similar to the list data structure but, tuples are immutable

In [53]:
#Empty tuple
tuple1=()
tuple2= tuple()
print(len(tuple1))
print(type(tuple2))

0
<class 'tuple'>

In [56]:
tup=(1,2,3)
tup2=1,2,3,4,5 #can be formed without paranthesis

In [61]:
print(tup2[0])

1

In [62]:
#loop in tuple
for elements in tup2:
    print(elements)

1
2
3
4
5

In [64]:
#enumerate in tuple
for index,elements in enumerate(x): #x,start=100
    print(index,elements)

0 1
1 2
2 4
3 1
4 1
5 1
6 7
7 1
8 5
9 9
10 9
11 7

In [65]:
tup=('a','b','c','d')

In [67]:
for elements in tup:
    print(elements)

a
b
c
d

In [70]:
tup_single=('a')

In [74]:
print(tup_single)

('a',)

In [77]:

type(tup_single) #it shows string because it takes single element as string hence use , after 'a'
tup_single=('a',)

In [87]:
type(tup_single)

tuple

In [86]:
tup=tup_single +(5,)

In [88]:
tup

('a', 5)

In [85]:
tup_merge=(6,7)

In [94]:
tup_merge+tup
tup_merge*2

(6, 7, 6, 7)

In [93]:
tup_merge.count(6)

1

VALUE UNPACKING

In [97]:
a,b,c=(1,2,3)
print(a)
print(type(a))
print(b)
print(c)

1
<class 'int'>
2
3

In [99]:
a,b,c=range(3)

In [101]:
print(a)

0

In [103]:
#swapping value

a=3
b=7
a,b=(b,a)
print(a)

7

DATA TYPE CONVERSION

In [108]:
a=(1,2,3)
str_a= list(a)
print(type(str_a))

<class 'list'>